<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/grad.css">
    <meta charset="utf-8">
</head>
<body>
<h1 class="gradient-text" >Вас зарекролили! Вы не можете остановить видео, здесь отключены элементы управления.<br>
Вам остается только закрыть или перезагрузить странцу!</h1>
<video autoplay width="80%" id="videoId" style="margin-left: 10%;margin-right:10%;">
    <source src="../static/vid/troll.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</body>
</html>